body{
    margin: 0;
    padding: 0;
    font-family: "Agency FB";
}


.header{
    padding: 15px;
    background-color: #435d7d;
}

.app-name{
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    display: inline;
}

.app-nav{
    display: inline;
    float: right;
    margin-top: 4px;
}

.icon{
    color: white;
}

.btn-success{
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    background-color: #70c15e;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.btn-success:hover{
    background-color: #4c9e34;
}

.btn-success i, .btn-danger i{
    display: block;
    margin-bottom: -21px;
}

.btn-success div, .btn-danger div{
    padding-left: 30px;
    padding-right: 5px;
}

.btn-danger{
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    background-color: #d9493a;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.btn-danger:hover{
    background-color: #af3e2e;
}

